Source: minios-boot
Section: utils
Priority: optional
Maintainer: crims0n <crims0n@minios.dev>
Build-Depends: debhelper (>= 11), pandoc
Standards-Version: 4.1.3
Homepage: https://minios.dev

Package: minios-boot
Architecture: all
Depends: bash (>= 5.0), coreutils (>= 8.30), gettext (>= 0.19), grep (>= 3.3), sed (>= 4.7), squashfs-tools (>= 4.3), util-linux (>= 2.33), systemd-sysv (>= 241), libminioslive (>= 3.4) ${misc:Depends}
Description: MiniOS Linux boot scripts.
 MiniOS Boot is a collection of scripts needed to boot MiniOS and
 provide the MiniOS features described in the
 <https://github.com/minios-linux/minios-live/wiki> documentation.
