Source: minios-boot
Section: utils
Priority: optional
Maintainer: crims0n <crims0n@minios.dev>
Build-Depends: debhelper (>= 11), pandoc
Standards-Version: 4.1.3
Homepage: https://minios.dev

Package: minios-boot
Architecture: all
Depends: bash (>= 4.4), coreutils (>= 8.28), gettext (>= 0.19), grep (>= 3.1), sed (>= 4.4), mawk (>= 1.3), squashfs-tools (>= 4.3), util-linux (>= 2.31), systemd-sysv (>= 237), libminioslive (>= 4.0), ${misc:Depends}
Description: MiniOS Linux boot scripts.
 MiniOS Boot is a collection of scripts needed to boot MiniOS and
 provide the MiniOS features described in the
 <https://github.com/minios-linux/minios-live/wiki> documentation.
