[Unit]
Description=Changes apparmor service

[Service]
Type=oneshot
ExecStart=/usr/sbin/minios-apparmor-patch

[Install]
RequiredBy=minios-apparmor.path
