[Unit]
Description=MiniOS startup service
Before=basic.target
After=local-fs.target systemd-tmpfiles-setup.service
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c 'if [ ! -d /var/log/minios ]; then mkdir /var/log/minios; fi; /usr/sbin/minios-startup >/var/log/minios/minios-startup.output.log 2>&1'
TimeoutStartSec=60

[Install]
WantedBy=basic.target