#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name=minios-startup minios-startup.service
	dh_installsystemd --name=minios-script-launcher --no-enable minios-script-launcher.service
	dh_installsystemd --name=minios-syncconfig minios-syncconfig.path
	dh_installsystemd --name=minios-syncconfig minios-syncconfig.service
	dh_installsystemd --name=ssh-keygen ssh-keygen.service
	dh_installsystemd --name=minios-apparmor minios-apparmor.path
	dh_installsystemd --name=minios-apparmor minios-apparmor.service
	dh_installsystemd --remaining-packages
